
@font-face {
    font-family: notosans_med;
    src: url(../font/notosans/NotoSansThai-Medium.ttf);
}

@font-face {
    font-family: comic_sans;
    src: url(../font/comicsans/COMIC.TTF);
}

@font-face {
    font-family: laithai;
    src: url(../font/laithai/sathaporn.ttf);
}

body{
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    font-family: notosans_med;

}


#requestformtemplate header {

    /*
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D3142;
    padding: 10px 20px;
    color: #ffffff;
    font-family: 'Prompt', sans-serif; *//* ใช้ฟ้อนต์ Prompt กับส่วน header */
    /*height: 15vh; *//* ตั้งค่าความสูงให้เท่ากับส่วนบน */
    /*box-sizing: border-box; *//* เพื่อให้ padding ไม่กระทบต่อความสูง */

    background-color: #2c2c3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1em;
    height: 10vh;
}

#requestformtemplate .menu-icon {
    font-size: 5vh;
    cursor: pointer;
    padding-left : 15px;
    padding-right : 15px;
    border-radius : 50%;
    transition: 0.5s;
}

#requestformtemplate .back-arrow {
    background: none;
    border: none;
    color: #F5F5F5;
    font-size: 5vh;
    cursor: pointer;
    border-radius: 50%;
    padding-left : 5px;
    padding-right : 15px;
    transition: 0.5s;
}

#requestformtemplate .menu-icon:hover {
    background-color: #c4c4c4a9;
}

#requestformtemplate .back-button {
    background: none;
    border: none;
    color: #F5F5F5;
    font-size: 5vh;
    cursor: pointer;
    border-radius: 50%;
    padding-left : 5px;
    padding-right : 15px;
    transition: 0.5s;
}

#requestformtemplate .back-button:hover{
    background-color: #c8c8c8;
    box-shadow: inset;
}




#requestformtemplate .container {
    width: 100%; /* Full screen width */
    margin: 0; /* Remove default margin */
    padding: 0px; /* Adjust padding as needed */
    box-sizing: border-box; /* Ensure padding doesn't affect the full width */
}


#requestformtemplate .sectionform{

    padding-top: 30px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
    width:55%;
    padding-left: 50px;
    padding-right: 50px;
}

#requestformtemplate .pinfo_head {

    padding-top : 3vh;
    margin-bottom: 1vh;
    margin-left : 1vw;
    font-family: notosans_med;
    font-size : 1.5vw;
}
#requestformtemplate .pinfo_head .sub{

    margin-left : 1vw;
    font-family: notosans_med;
    font-size : 1vw;
}

#requestformtemplate .pinfo_input{
    margin-left : 2vw;
    padding-top : 3vh;
    background-color: #E0E0E0;
    
}

#requestformtemplate .pinfo_input label{

    position: absolute;
    margin-top: 1.5vh;
    margin-left: 2vw;
}

#requestformtemplate .pinfo_input input{
    padding : 1vh;
    margin : 1vh;
    margin-left : 15vw;
    width : 25%;
    font-family: notosans_med;

}

#requestformtemplate .pinfo_input .pinfo_addr{
    padding : 1vh;
    margin : 1vh;
    margin-left : 4vw;

    

}

#requestformtemplate .pinfo_input .pinfo_addr input{
    padding : 1vh;
    margin : 1vh;
    margin-left : 12vw;
    width : 25%;
    
}

#requestformtemplate .pinfo_input .pinfo_addr .long{
    width : 40%;
}

#requestformtemplate .requesttype01 {background-color: #C5C5C5;}
#requestformtemplate .requesttype02 {background-color: #C5C5C5;}
#requestformtemplate .requesttype03 {background-color: #C5C5C5;}

#requestformtemplate .requesttype01 input{
    margin-left : 8vw;
}

#requestformtemplate textarea{
    resize: none;
    margin-top :6vh;
    margin-left : 8vw;
    font-family: notosans_med;
}

#requestformtemplate .requesttype02 .choicedebtlabel{
    margin-top: 3.5vh;
    margin-left : 1vw;
}

#requestformtemplate .requesttype02 .choicedebt{
    margin-top: 1vh;
    margin-left : 10vw;
    height:8vh; 
    width:3vh;
}

#requestformtemplate .requesttype02 .moneyamountlabel{
    margin-left : 10vw;
}

#requestformtemplate .requesttype02 .moneyamount{
    margin-left : 15vw;
}

#requestformtemplate .save-draft {
    background-color: #e0e0e0;
    color: #333;
}

#requestformtemplate .submit {
    background-color: #4caf50;
    color: #ffffff;
}

#requestformtemplate button {
    width: 49%; /* ทำให้ปุ่มแต่ละปุ่มมีขนาดกว้างเท่ากัน */
    padding: 1%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: notosans_med;
    font-size: 1.5em;
}


