
#homesection{
    display: none;
}
#homesection .header {
    background-color: #2D3142;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1em;
    height: 10vh;
}

#homesection .header .profile {
    display: flex;
    align-items: center;
}

#homesection .textinfo {
    font-size: 3vh;
    margin-left : 2vh;
}

#homesection .textinfo small{
    font-size: 2vh;
    padding : 0.5vh;
    background-color : blueviolet;
    cursor: pointer;
}

#homesection .profile-pic {
    height: 8vh;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin-right: 10px;
    border : 1px solid white;
}

#homesection .menu-icon {
    font-size: 5vh;
    cursor: pointer;
    padding-left : 15px;
    padding-right : 15px;
    border-radius : 50%;
    transition: 0.5s;

}

#homesection .menu-icon:hover {
    background-color: #c4c4c4a9;
}

#homesection .content {
    text-align: center;
    padding: 40px 20px;
}

#homesection .content h1 {
    font-size: 5vh;
    margin-bottom: 1vh;
}

#homesection .content p {
    font-size: 3vh;
    color: #666;
    margin-bottom: 8vh;
}

#homesection .icon-container {
    width : 90%;
    margin-left: auto;
    margin-right: auto;
    /*border : 1px solid black;*/
    display: flex;
    justify-content: space-evenly; /* ทำให้ไอคอนมีระยะห่างเท่ากัน */
}

#homesection .icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #333;
    background-color: #f5f5f5;
    border : 1px solid black;
    width : 12vw;
    padding-top: 2vw;   
    transition: transform 0.2s;
    transition: 0.5s;
    cursor : pointer;
    border-radius : 25px;
}

#homesection .icon-item:hover {
    transform: translateY(-0.5vh);
    background-color: #eafad1;
    box-shadow: 10px 10px #888888;

}

#homesection .icon-item .icon {
    width: 80px;
    height: 80px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1vw;
    font-size: 2em;
}

#homesection .icon-item p {
    font-size: 1.2vw;
}
