@font-face {
    font-family: notosans_med;
    src: url(../font/notosans/NotoSansThai-Medium.ttf);
}

@font-face {
    font-family: comic_sans;
    src: url(../font/comicsans/COMIC.TTF);
}

@font-face {
    font-family: laithai;
    src: url(../font/laithai/sathaporn.ttf);
}


body{
    /*background: rgb(229,229,244);
    background: linear-gradient(90deg, rgba(229,229,244,1) 0%, rgba(164,201,242,1) 100%);
    */
    /*background-image : url("../picture/bg01.jpg");
    background-size : 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed; */
    background-color: #c4c4c4;
    margin: 0;
    padding: 0;
    font-family: notosans_med;
    
}


.header {
    background-color: #2c2c3e;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 1em;
}

.header .profile {
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 40px;
    height: 40px;
    background-color: #c4c4c4;
    border-radius: 50%;
    margin-right: 10px;
    border : 1px solid white;
}

.menu-icon {
    font-size: 1.5em;
}

.content {
    text-align: center;
    padding: 40px 20px;
}

.content h1 {
    font-size: 1.2em;
    margin-bottom: 5px;
}

.content p {
    font-size: 0.9em;
    color: #666;
    margin-bottom: 30px;
}

.icon-container {
    display: flex;
    justify-content: space-evenly; /* ทำให้ไอคอนมีระยะห่างเท่ากัน */
}

.icon-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: #333;
}

.icon-item .icon {
    width: 80px;
    height: 80px;
    background-color: #e0e0e0;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    font-size: 2em;
}

.icon-item p {
    font-size: 0.9em;
}