#payment .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D3142;
    color: #F5F5F5;
    height: 10vh;
    padding: 10px 20px;
}

#payment .back-button {
    background: none;
    border: none;
    color: #F5F5F5;
    font-size: 5vh;
    cursor: pointer;
    border-radius: 50%;
    padding-left : 5px;
    padding-right : 15px;
    transition: 0.5s;
}

#payment .back-button:hover{
    background-color: #c8c8c8;
    box-shadow: inset;
}

#payment .menu-icon {
    font-size: 5vh;
    cursor: pointer;
    padding-left : 15px;
    padding-right : 15px;
    border-radius : 50%;
    transition: 0.5s;
}

#payment .menu-icon:hover {
    background-color: #c4c4c4a9;
}


#payment main {
    justify-items: center;
    
}

#payment .qr-section {
    width: 15%;
    height: 30vh;
    background-color: #D9D9D9;   
    margin-top: 3%; 
}

#payment .details {
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    gap: 20px;

}

#payment .update {
    display: flex;
    color: #7D7D7D;
}

#payment .slip {
    display: flex;
    gap: 20px;
}


#payment .confirm {
    width: 20%;
    height: 30px;
    border: none;
    color: #F5F5F5;
    background-color: #4CAF50;
    border-radius: 20px;
    cursor: pointer;
}

#payment button:disabled {
    background-color: #ccc; /* เปลี่ยนสีปุ่ม */
    cursor: not-allowed; /* เปลี่ยนเคอร์เซอร์เป็นแบบห้าม */
    color: #666; /* สีข้อความจางลง */
    border: 1px solid #999;
}
#payment .menu-icon {
    font-size: 5vh;
    cursor: pointer;
    padding-left : 15px;
    padding-right : 15px;
    border-radius : 50%;
    transition: 0.5s;
    color: white;

}