
#mylistsection{
    display : none
}

#mylistsection .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D3142;
    color: #F5F5F5;
    padding: 10px 20px;
    max-height: 10vh;
}

#mylistsection .back-button {
    background: none;
    border: none;
    color: #F5F5F5;
    font-size: 5vh;
    cursor: pointer;
    border-radius: 50%;
    padding-left : 5px;
    padding-right : 15px;
    transition: 0.5s;
}

#mylistsection .back-button:hover{
    background-color: #c8c8c8;
    box-shadow: inset;
}



#mylistsection .menu-icon {
    font-size: 5vh;
    cursor: pointer;
    padding-left : 15px;
    padding-right : 15px;
    border-radius : 50%;
    transition: 0.5s;
}

#mylistsection .menu-icon:hover {
    background-color: #c4c4c4a9;
}

#mylistsection .content {
    width: 60%;
    /* ปรับความกว้างให้เหมาะสมกับหน้าจอ */
    max-width: 800px;
    /* จำกัดความกว้างสูงสุด */
    margin: auto;
    /* จัดกึ่งกลาง */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mylistsection .item-card {
    width: 100%;
    /* ให้กล่องมีความกว้างเต็มที่ภายใน .content */
    background-color: #E0E0E0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s;
}

#mylistsection .item-card:hover {
    transform: translateY(-3px);
}

#mylistsection .item-card h2 {
    margin: 0 0 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #333333;
}

#mylistsection .item-card p {
    margin: 5px 0;
    color: #7D7D7D;
    font-size: 14px;
}

#mylistsection .buttons {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    /* justify-content: flex-end; */
    gap: 10px;
}

#mylistsection .edit-button,
.cancel-button {
    border: none;
    width: 120px;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    outline: none;
}

#mylistsection .edit-button {
    background-color: #7D7D7D;
    color: #F5F5F5;
}

#mylistsection .cancel-button {
    background-color: #F44336;
    color: #F5F5F5;
}