/** {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Sans Thai'
}
body {
    background-color: #F5F5F5;
}*/
#paymenthome .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #2D3142;
    color: #F5F5F5;
    height: 10vh;
    padding: 10px 20px;
}

#paymenthome .back-button {
    background: none;
    border: none;
    color: #F5F5F5;
    font-size: 5vh;
    cursor: pointer;
    border-radius: 50%;
    padding-left : 5px;
    padding-right : 15px;
    transition: 0.5s;
}

#paymenthome .back-button:hover{
    background-color: #c8c8c8;
    box-shadow: inset;
}

#paymenthome .menu-icon {
    font-size: 5vh;
    cursor: pointer;
    padding-left : 15px;
    padding-right : 15px;
    border-radius : 50%;
    transition: 0.5s;
}

#paymenthome .menu-icon:hover {
    background-color: #c4c4c4a9;
}

#paymenthome .container {
    justify-items: center;
}

#paymenthome h1 {
    margin-top: 3%;
    color: #333333;
}

#paymenthome .card {
    width: 45%;
    height: 120px;
    background-color: #E0E0E0;
    border-radius: 10px;
    margin-top: 20px;
    padding: 2%;
    cursor: pointer;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    margin-bottom: 60px;
}

#paymenthome .card:hover {
    transform: translateY(-10px); /* ยกกล่องขึ้น */
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3); /* เงาที่ลึกขึ้น */
    
}

#paymenthome h3 {
    font-size: 30px;
    
}

#paymenthome .date {
    margin-top: 5px;
    color: #7D7D7D;
    font-size: 14px;
    display: flex;

}

#paymenthome .status {
    display: flex;
    margin-top:20px ;
}

#paymenthome .approve {
    width: 80px;
    height: 30px;
    background-color: #4CAF50;
    border-radius: 20px;
    text-align: center;
    color: #F5F5F5;
    line-height: 30px; 
    font-size: 16px; 
    display: inline-block; 
}

#paymenthome .payment {
    width: 80px;
    height: 30px;
    background-color: #B0B0B0;
    border-radius: 20px;
    text-align: center;
    color: #F5F5F5;
    line-height: 30px; 
    font-size: 16px; 
    display: inline-block; 
    margin-left: 10px;
}
